.footer{
    color: #737373;
    text-decoration: none;
    padding: 0rem 5rem;
  }
  
  .footer a{
    color: #737373;
    text-decoration: none;
  }
  
  .footer a:hover{
    text-decoration: underline;
  }
  .links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
  .links a{
    font-size: 0.8rem;
    padding-top: 1rem;
  }
  .select-language-footer{
    margin-top: 2rem;
  }
  .select-language-footer select{
    border-color: #737373;
    color: #737373;
    padding: 1rem 2rem;
  }
  .netflix-footer{
    font-size: 0.8rem;
    margin-top: 2rem;
  }
  @media(max-width: 950px){
    .links{
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  @media(max-width: 400px){
    .links{
      grid-template-columns: 1fr 1fr;
    }
  }